* {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
#logo {
    width: 5em;
}
#navbar{
    filter: drop-shadow(5px 5px 14px #333335);
}
#navbar img{
    margin-left: 2em;
    position: absolute;
}

#profile-banner {
    filter: drop-shadow(5px 5px 14px #333335);
}

#profile-banner:hover {
    transform: scale(1.02);
    transition: cubic-bezier();
    transition-duration: 3s;
}
#profile-banner:not(:hover) {
    transform: scale(1);
    transition: cubic-bezier();
    transition-duration: 2s;
}

#profile-banner-img {
    position: sticky;
    flex-wrap: nowrap;
    width: 100%;    
}

@media (max-width: 480px) {
    #profile-banner {
        position: relative;
        width: 80vw;
        height: auto;
        filter: drop-shadow(5px 5px 14px #333335);
        transition: 2s;
    }
}