<nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark" id="navbar">
      <img class=" navbar-brand position-relative bg-dark rounded" id="logo" src="../../../assets/aplogo.png" alt="Card image cap">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Porfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Contacto</a>
        </li>
        <button type="button" class="btn btn-outline-light" (click)="login()">Login</button>
      </ul>
    </div>
</nav>
<div class="container-fluid col-8" id="profile-banner" >
  <img src="../../../assets/DSC_1656b.jpg" class="h-25 d-block" id="profile-banner-img" alt="...">
</div> 
