<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
  </style>
<nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark" id="navbar">
      <img class=" navbar-brand position-relative bg-dark rounded " id="logo" src="../../../assets/APLogo-20-20.png" alt="Card image cap">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Porfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Contacto</a>
        </li>
      </ul>
    </div>
</nav>
<div class="container-fluid" id="main">
  <div class="container-fluid col-8" id="profile-banner" >
      <img src="../../../assets/DSC_1656b.jpg" class="h-25 d-block" id="profile-banner-img" alt="...">
  </div> 
  <div class="card container-fluid rounded col-12 col-sm-12 col-md-10 col-lg-10 d-flex flex-wrap" id="profile-card">
      <app-aboutme></app-aboutme>
      <app-experience></app-experience>  
  </div>

</div>
