* {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
#main {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    background-size: 100%;
    background-position:top;
    background-repeat:repeat-y;
    margin:auto;
}
.navbar{
    width: 100%;
    position: absolute;

}
#profile-card{
    z-index: 9;
    margin: auto;
    max-width: 95vw;
    padding-bottom: 100px;
}

#profile-banner {
    filter: drop-shadow(5px 5px 14px #333335);
   
}

#profile-banner:hover {
    transform: scale(1.02);
    transition: cubic-bezier();
    transition-duration: 3s;
    
}
#profile-banner:not(:hover) {
    transform: scale(1);
    transition: cubic-bezier();
    transition-duration: 2s;
}

#profile-banner-img {
    position: relative;
    left: 16vw!important;
    flex-wrap: nowrap;
    width: 100%;    
}
@media (max-width: 900px){
    #profile-banner-img{
        transform: scale(1.4);
        margin-top: 3%;
    }
}
@media (max-width: 600px){
    #profile-banner-img{
        display: none;
    }
}


