<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
</style>
<div class="container-fluid" id="main">
    <!--Navbar = Header Component with Banner-->
    <app-header id="navbar"></app-header>
    <!--Banner IMG-->
    <div class=" col-8 d-flex" id="profile-banner" >
        <img src="../../../assets/DSC_1656b.jpg" class="h-25 "  id="profile-banner-img" alt="...">
    </div>
    <!--Profile Card-->
    <div class="card p-2 rounded col-12 col-sm-11 col-md-11 col-lg-12 d-flex flex-wrap justify-content-center align-center"
        id="profile-card">
        <!--AboutMe Component-->
        <app-aboutme id="aboutme-component"></app-aboutme>
        <!--Experience Component-->
        <app-experience id="experience-component"></app-experience>
        <!--Skills Component-->
        <app-skills id="skill-component"></app-skills>
        <!--Proyects Component-->
        <app-proyects id="proyects-component"></app-proyects>
    </div>
    
</div>
<!--Footer Component-->
<app-footer class="d-block bg-dark"></app-footer>