<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
</style>
<div class="container-fluid" id="main">

    <!--Navbar Component with Banner-->
    <app-header id="navbar"></app-header>

    <!--Animation Component-->
    <div class="background-area container-fluid">
        <ul class="box-area">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!--Profile Card-->
    <div class="card container-fluid rounded col-12 col-sm-12 col-md-11 col-lg-11 d-flex flex-wrap justify-content-center align-center"
        id="profile-card">
        <!---->
        <app-aboutme></app-aboutme>
        <app-experience></app-experience>
        <app-skills></app-skills>
    </div>
</div>