<div class="card-body container">
    <div class="row">
        <div class="col-8 col-sm-12 col-md-12 flex-shrink-1">
            <div class="w-50 position-absolute end-0 top-0 badge">
                <div class="mt-4 "><img src="../../../assets/logocoderhouse.jpg"
                        class="bg-dark card-img position-relative" id="img-logo-banner-coder" alt="..."></div>
                <div class="mt-4"><img src="../../../assets/logoquienessomos2.png" class="card-img position-relative"
                        id="img-logo-banner-una" alt="..."></div>
                <div class="mt-4"><img src="../../../assets/aplogo.png" class=" bg-dark card-img position-relative"
                        id="img-logo-banner-argp" alt="..."></div>
            </div>
        </div>
    </div>
</div>