* {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
#profile-img {
    position: relative;
    bottom: 5em;
    width: 15em;
    height: 15em;
    filter: drop-shadow(5px 5px 14px #333335);
}
#profile-card{
    position: relative;
    bottom: 40px;
}
#profile-img:hover {
   transform: scale(1.1);
    transition: cubic-bezier();
    transition-duration: 2s;
}
#profile-img:not(:hover) {
    transform: scale(1);
    transition: cubic-bezier();
    transition-duration: 2s;
}

#app-logo-card{
    display: flex;
}


@media (max-width: 600px){
    #profile-img {
        position: relative;
        margin-top: 4em;
        bottom: 3em;
        width: 10em;
        height: 10em;
        filter: drop-shadow(5px 5px 14px #333335);
        transition: 2s;
    }
}
@media (max-width: 480px) {
    #profile-img {
        position: relative;
        margin-top: 3em;
        bottom: 3em;
        width: 10em;
        height: 10em;
        filter: drop-shadow(5px 5px 14px #333335);
        transition: 2s;
    }

    #app-logo-card{
        display: none;
    }
    #profile-card{
        position: relative;
        bottom: 20px;
    }
}