* {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
#profile-img {
    position: relative;
    bottom: 5em;
    width: 15em;
    height: 15em;
    filter: drop-shadow(5px 5px 14px #333335);
}
#profile-img:hover {
   transform: scale(1.1);
    transition: cubic-bezier();
    transition-duration: 2s;
}
#profile-img:not(:hover) {
    transform: scale(1);
    transition: cubic-bezier();
    transition-duration: 2s;
}

#img-logo-banner-coder{
    width: 10em;
    position: relative;
}
#img-logo-banner-una{
    width: 10em;
    position: relative;
}
#img-logo-banner-argp{
    width: 10em;
    position: relative;
}

.buttons{
    border: solid 1px rgb(38, 43, 114);
    margin: 5px;
    border-radius: 20px;
    width: 200px!important;
    border: solid 1px rgb(49, 49, 53);
    color: white;
    filter: drop-shadow(1px 1px 5px #333333);
    font-variant: bold;
}
@media (max-width: 480px) {
    #profile-img {
        position: relative;
        bottom: 2em;
        width: 10em;
        height: 10em;
        filter: drop-shadow(5px 5px 14px #333335);
        transition: 2s;
    }
    #img-logo-banner-coder{
        margin-right: 1em;
        width: 5em;
        position: relative;
    }
    #img-logo-banner-una{
        margin-right: 1em;
        width: 5em;
        position: relative;
    }
    #img-logo-banner-argp{
        float: right;
        margin-right: 1em;
        width: 5em;
        position: relative;
    }
}