<div class="container-fluid">

  <!--Navbar Component with Banner-->
  <app-header id="navbar"></app-header>
  
  <section style="background-color: #222325;">
    <div class="justify-content-center rounded py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="row d-flex justify-content-center  pt-4 pb-4">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <h3 class="mb-5">Admin Login</h3>
                <!--Form for login start-->
                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
                  <div class="form-outline mb-4">
                    <!--Input for username-->
                    <input type="nameUser" id="nameUser" class="form-control form-control-lg" name="nameUser"
                      [(ngModel)]="nameUser" required />
                    <label class="form-label" for="nameUser">Nombre de usuario</label>
                  </div>
                  <div class="form-outline mb-4">
                    <!--Input for password-->
                    <input type="password" id="password" name="password" class="form-control form-control-lg"
                      [(ngModel)]="password" required />
                    <label class="form-label" for="password">Password</label>
                  </div>
                  <!--Submit form-->
                  <input class="button-login" type="submit" value="Login">
                  <!--Form for login end-->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>