<div class="card-body container">
  <div class="pt-2 row align-items-start d-flex flex-wrap">
    <div class="col-">
      <h4 class="card-title inline border-top border-4 border-dark pt-2 mt-4 ">
        Skills
        <button class="btn-dark icn-buttons" id="btn-experience-modal" (click)="show=!show">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-layer-backward" viewBox="0 0 16 16">
            <path
              d="M8.354 15.854a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 0-.708l1-1a.5.5 0 0 1 .708 0l.646.647V4H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H9v7.793l.646-.647a.5.5 0 0 1 .708 0l1 1a.5.5 0 0 1 0 .708l-3 3z" />
            <path
              d="M1 9a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h4.5a.5.5 0 0 1 0 1H1v2h4.5a.5.5 0 0 1 0 1H1zm9.5 0a.5.5 0 0 1 0-1H15V6h-4.5a.5.5 0 0 1 0-1H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-4.5z" />
          </svg>
        </button>
      </h4>
      <h6 class="mt-2 pb-2 border-bottom border-2
         border-dark d-flex flex-wrap" *ngIf="show" [@inOutAnimation]>
        Porcentaje que toma referencia de la cantidad total de proyectos de desarrollo web realizados desde mis
        comienzos (Junio 2021)
    </h6>
    </div>
    <div class="col-12">
      <!--Section for FrontEnd-->
      <div class="row" *ngIf="show" [@inOutAnimation]>
        <div class="card position-relative mt-2 mb-2 ">
          <h6 class="border-bottom border-3 border-dark  d-flex d-inline card-body">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-file-code-fill" viewBox="0 0 16 16">
              <path
                d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.646 5.646a.5.5 0 1 1 .708.708L5.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 1 1 .708-.708z" />
            </svg>
            Front End 4/4
          </h6>
          <div class="d-flex justify-content-around flex-wrap ">
            <circle-progress class="d-flex mw-100" [percent]="25" [radius]="80" [backgroundPadding]="30" [subtitle]="'Angular'"
              [subtitleFontSize]="'16'" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#1C1C1C'"
              [innerStrokeColor]="'#3F3F3F'" [animation]="true" [animationDuration]="300"></circle-progress>
            <circle-progress class="d-flex mw-100" [percent]="25" [radius]="80" [backgroundPadding]="30" [subtitle]="'React'"
              [subtitleFontSize]="'16'" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#1C1C1C'"
              [innerStrokeColor]="'#3F3F3F'" [animation]="true" [animationDuration]="300"></circle-progress>
            <circle-progress class="d-flex mw-100" [percent]="75" [radius]="80" [backgroundPadding]="30" [subtitle]="'Javascript'"
              [subtitleFontSize]="'16'" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#1C1C1C'"
              [innerStrokeColor]="'#3F3F3F'" [animation]="true" [animationDuration]="300"></circle-progress>
            <circle-progress class="d-flex mw-100" [percent]="100" [radius]="80" [backgroundPadding]="30" [subtitle]="'HTML & CSS'"
              [subtitleFontSize]="'16'" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#1C1C1C'"
              [innerStrokeColor]="'#3F3F3F'" [animation]="true" [animationDuration]="300"></circle-progress>
          </div>
          <div class="d-flex justify-content-around flex-wrap ">
            <circle-progress class="d-flex mw-100" [percent]="25" [radius]="80" [subtitle]="'Typescript'" [subtitleFontSize]="'16'"
              [outerStrokeWidth]="12" [innerStrokeWidth]="8" [backgroundPadding]="30" [outerStrokeColor]="'#1C1C1C'"
              [innerStrokeColor]="'#3F3F3F'" [animation]="true" [animationDuration]="300"></circle-progress>
            <circle-progress class="d-flex mw-100" [percent]="75" [radius]="80" [backgroundPadding]="30" [subtitle]="'Bootstrap'"
              [subtitleFontSize]="'16'" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#1C1C1C'"
              [innerStrokeColor]="'#3F3F3F'" [animation]="true" [animationDuration]="300"></circle-progress>
            <circle-progress class="d-flex mw-100" [percent]="25" [radius]="80" [backgroundPadding]="30" [subtitle]="'Tailwind CSS'"
              [subtitleFontSize]="'16'" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#1C1C1C'"
              [innerStrokeColor]="'#3F3F3F'" [animation]="true" [animationDuration]="300"></circle-progress>
            <circle-progress class="d-flex mw-100" [percent]="25" [radius]="80" [backgroundPadding]="30" [subtitle]="'SASS'"
              [subtitleFontSize]="'16'" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#1C1C1C'"
              [innerStrokeColor]="'#3F3F3F'" [animation]="true" [animationDuration]="300"></circle-progress>
          </div>
          <div class="card-body border-top border-4 border-dark">
            <h5 class="card-title mt-2 mb-2 pb-2 border-bottom border-3 border-dark col-3 ">Front End</h5>
            <h6 class="card-title mt-2 ">Number of Proyects: 4/4</h6>
            <!--Possible {{skills.length}}-->
            <!--Possible ng*For="skill of skills"-->
            <p class="blockquote-footer mt-2">React</p>
            <!--{{skill.name}}-->
            <p class="blockquote-footer mt-2">Angular</p>
            <!--{{skill.name}}-->
            <p class="blockquote-footer mt-2">Javascript</p>
            <!--{{skill.name}}-->
            <p class="blockquote-footer mt-2">HTML&CSS</p>
            <!--{{skill.name}}-->
          </div>
        </div>
      </div>
      <!--Section for BackEnd-->
      <div class="row " *ngIf="show" [@inOutAnimation]>
        <div class="card position-relative mt-2 mb-2 ">
          <h6 class="border-bottom border-3 border-dark d-flex card-body">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-file-code-fill" viewBox="0 0 16 16">
              <path
                d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.646 5.646a.5.5 0 1 1 .708.708L5.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 1 1 .708-.708z" />
            </svg>
            Back End 1/4
          </h6>
          <div class="d-flex justify-content-around flex-wrap  ">
            <circle-progress class="d-flex mw-100" [percent]="25" [radius]="80" [backgroundPadding]="30" [subtitle]="'Java'"
              [subtitleFontSize]="'16'" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#1C1C1C'"
              [innerStrokeColor]="'#3F3F3F'" [animation]="true" [animationDuration]="300"></circle-progress>
            <circle-progress class="d-flex mw-100" [percent]="25" [radius]="80" [backgroundPadding]="30" [subtitle]="'Spring Boot'"
              [subtitleFontSize]="'16'" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#1C1C1C'"
              [innerStrokeColor]="'#3F3F3F'" [animation]="true" [animationDuration]="300"></circle-progress>
            <circle-progress class="d-flex mw-100" [percent]="25" [radius]="80" [backgroundPadding]="30" [subtitle]="'JWT'"
              [subtitleFontSize]="'16'" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#1C1C1C'"
              [innerStrokeColor]="'#3F3F3F'" [animation]="true" [animationDuration]="300"></circle-progress>
          </div>
          <div class="card-body border-top border-4 border-dark">
            <h5 class="card-title mt-2 mb-2 pb-2 border-bottom border-3 border-dark col-3">Back End</h5>
            <h6 class="card-title mt-2 ">Number of Proyects: 1/4</h6>
            <!--Possible {{skills.length}}-->
            <!--Possible ng*For="skill of skills"-->
            <p class="blockquote-footer mt-2">Java con Spring Boot</p>
            <!--{{skill.name}}-->
          </div>
        </div>
      </div>
      <!--Section for DB-->
      <div class="row " *ngIf="show" [@inOutAnimation]>
        <div class="card position-relative mt-2 mb-2 ">
          <h6 class="border-bottom border-3 border-dark d-flex card-body">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-file-code-fill" viewBox="0 0 16 16">
              <path
                d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.646 5.646a.5.5 0 1 1 .708.708L5.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 1 1 .708-.708z" />
            </svg>
            Base de datos 2/4
          </h6>
          <div class="d-flex justify-content-around flex-wrap ">
            <circle-progress class="d-flex mw-100" [percent]="25" [radius]="80" [backgroundPadding]="30" [subtitle]="'Firebase'"
              [subtitleFontSize]="'16'" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#1C1C1C'"
              [innerStrokeColor]="'#3F3F3F'" [animation]="true" [animationDuration]="300"></circle-progress>
            <circle-progress class="d-flex mw-100" [percent]="25" [radius]="80" [backgroundPadding]="30" [subtitle]="'MySQL'"
              [subtitleFontSize]="'16'" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#1C1C1C'"
              [innerStrokeColor]="'#3F3F3F'" [animation]="true" [animationDuration]="300"></circle-progress>
          </div>
          <div class="card-body border-top border-4 border-dark">
            <h5 class="card-title mt-2 mb-2 pb-2 border-bottom border-3 border-dark col-3">Base de datos</h5>
            <h6 class="card-title mt-2 ">Number of Proyects: 2/4</h6>
            <!--Possible {{skills.length}}-->
            <!--Possible ng*For="skill of skills"-->
            <p class="blockquote-footer mt-2">Firebase</p>
            <!--{{skill.name}}-->
            <p class="blockquote-footer mt-2">MySQL</p>
            <!--{{skill.name}}-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>